body {
  background-color: #f5f5f5;
  font-family: "Inter", sans-serif;
  margin-top: 0;
}

header,
#buttons,
#answer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header,
#answer {
  flex-direction: column;
}

img {
  max-height: 40vw;
  max-width: 90vw;
}

/*
<!-- HTML !-->
<button class="button-31" role="button">Button 31</button> */

/* CSS */
button {
  width: 220px;
  background-color: white;
  border-radius: 4px;
  border-style: solid;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 10px;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 15px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  opacity: 0.75;
}

footer {
  margin-top: 15px;
  font-size: 16px;
  width: 50vw;
}

h1,
h2 {
  width: 100%;
  background-color: #4481ab;
  padding: 10px;
  margin: 0 0 2px 0;
}

h1 {
  font-family: "Rock 3D", cursive;
  font-size: 46px;
}

h2 {
  font-size: 20px;
}
